{% extends "base.html" %} {% block content %} 
<div class="container">
    <div class="row row-cols-1">
        <div class="col about-title">
            DAILY CLIME
        </div>
        <div class="col about-description">
            Daily Clime merupakan sistem pendeteksi cuaca untuk aktivitas
                harian. Sistem ini memanfaatkan kecerdasan buatan untuk
                memberikan prediksi kelas cuaca berdasarkan gambar yang diunggah
                oleh pengguna. Tanpa perlu memasukkan data manual, pengguna
                dapat dengan mudah mendapatkan informasi cuaca dan peringatan
                hanya dengan mengambil gambar langit disekitar mereka.
        </div>
        <div class="col about-article">
            Related Articles
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-xs-2 row-cols-3 justify-content-md-center about-card">
        <div class="col-sm">
            <div class="card card-sm mb-3 about-eachcard" style="max-width: 4100px;">
                <div class="row g-0">
                    <img src="https://dk4fkkwa4o9l0.cloudfront.net/production/uploads/article/image/2042/woman-holds-jar-with-cosmetic-cream-her-hands-min.jpg" class="img-fluid" alt="..."
                    style="max-height: 240px; object-fit: cover; border-radius: 21px;">
                </div>
                <div class="row g-0">
                    <div class="card-body">
                        <div class="card-title about-article-title">
                            Bahaya Mengabaikan Penggunaan Sunscreen
                        </div>
                        <a class="about-redirect" href="https://herminahospitals.com/id/articles/bahaya-mengabaikan-penggunaan-sunscreen.html#">Selengkapnya...</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-sm mb-3 about-eachcard" style="max-width: 410px;">
                <div class="row g-0">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1656300035/attached_image/manfaat-matahari-pagi-sehangat-sinarnya-0-alodokter.jpg" class="img-fluid" alt="..."
                    style="max-height: 240px; object-fit: cover; border-radius: 21px;">
                </div>
                <div class="row g-0">
                    <div class="card-body">
                        <div class="card-title about-article-title">
                            6 Manfaat Matahari Pagi bagi Kesehatan Tubuh
                        </div>
                        <a class="about-redirect" href="https://www.alodokter.com/manfaat-matahari-pagi-sehangat-sinarnya">Selengkapnya...</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-sm about-eachcard" style="max-width: 410px;">
                <div class="row g-0">
                    <img src="https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-content/uploads/2023/06/27070904/Ketahui-Ini-7-Bahaya-Sinar-Matahari-untuk-Kulit.jpeg.webp" class="img-fluid" alt="..."
                    style="max-height: 240px; object-fit: cover; border-radius: 21px;">
                </div>
                <div class="row g-0">
                    <div class="card-body">
                        <div class="card-title about-article-title">
                            Mengenal Dampak Sinar Matahari pada Tubuh Manusia
                        </div>
                        <a class="about-redirect" href="https://www.halodoc.com/artikel/mengenal-dampak-sinar-matahari-pada-tubuh-manusia">Selengkapnya...</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
